html {
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
    color: black;
}

button {
    font-size: 24px;
    background-color: rgb(0, 200, 0);
    border-radius: 8px;
    border-color: rgb(0, 200, 0);
    color: black;
}

div {
    text-align: left;
    float: left;
    margin-left: 5%;
    width: 45%;
}

div2 {
    text-align: right;
    float: right;
    margin-right: 5%;
    width: 45%;
}